<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid"> 
      <a class="navbar-brand">Bank of Customer</a>   
      
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#trust-officer-nav" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>             
  
      <div class="collapse navbar-collapse" id="trust-officer-nav">
        <ul class="nav navbar-nav ml-auto">        
          <li class="nav-item"><a routerLink="/createUser" class="nav-link">Add New User</a></li>     
          <li class="nav-item"><a routerLink="" (click)="logout()" class="nav-link">Logout</a></li>   
        </ul>  
      </div>
      
    </div>
  </nav>
  